<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
 <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/default.min.css">
 <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
 <script>hljs.initHighlightingOnLoad();</script>
 <link rel="stylesheet" href="/stylesheets/base.css">
 <link rel="stylesheet" href="/stylesheets/layout.css">
 <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ATHNUniversity<%= ' - ' + current_article.title unless current_article.nil? %></title>
    <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed" %>
  </head>
  <body>
      <div class='header'>
          <div class='header_content'><h1><a href='/'>ATHNUniversity</a></h1></div></div>
    <div id="main" class='main_content' role="main">
      <%= yield %>
    </div>
  </body>
</html>
